{% extends "isodatabank/base.html" %}

{% block content %}
<p class="lead">
    South Asian Archaeological Isotope Data is an open-access databank of
    isotope values from South Asian Archaeological researches.
</p>

<p>
    We provide researchers free access to high-quality published isotope data
    from various South Asian Archaeological studies and researches in
    simple-to-use Excel format. All important contextual variables, such as site
    location, description, information about original authors, as well as direct
    links to the original research papers are also provided.
<p/>

<p>
    Additionally, researchers looking to share high-quality published isotope
    data from South Asian Archaeological sites, can host their research data on
    this website.
</p>
{% endblock %}
