{% extends "isodatabank/base.html" %}

{% block content %}
<p class="lead">
    ArchSAIso is an open-access databank of isotope values from South Asian
    Archaeological researches.
</p>

<p>
    Isotope values are widely used in archaeological research to determine
    ancient diet, place of origin, immigration pattern, lifestyle, etc. The aim
    of this project is to compile an open-access web-based databank of isotope
    values, along with the associated contextual variables—site location, nature
    of archaeological material, context and references, etc., from published
    South Asian archaeological research papers.
<p/>
<p>
    This project hopes to provide researchers with an online platform where they
    can share isotope values from their own published studies, as well as freely
    access data on isotope values and related information for their own
    research.
</p>
{% endblock %}
