{% extends "isodatabank/base.html" %}

{% block title %}More About Isotopes{% endblock %}

{% block content %}
<p class="lead">Stable Isotope data is an invaluable source for historical zoorahiological knowledge.</p>

<p>
    Stable isotope analysis has applications in biology, ecology, climatology,
    paleontology, archaeology, etc.
    By the examination of a few important stable isotopes, we can study the diet,
    nutrition, migration patterns of cattle as well as humans. Additionally, it
    can shed light on the relationship that existed between humans and their cattle.
</p>

<p>
    Many elements exist in more than one form, with the same atomic number but different
    mass number. These forms are known as isotopes. Isotopes, due to differing mass numbers, have
    slightly different masses. The lighter form is generally more common. As a result of differing
    masses, isotopes act slightly differnetly. The lighter isotope generally forms weaker bonds than the heavier ones.
    The lighter ones also tend to react faster.
</p>

<p>
    The change in isotopic ratios, called <b>fractionation</b>, can help us determine various properties of the
    environment. In fact, different environments have different isotopic signatures.
</p>

<p>
    The carbon isotopes are useful in studies of plants, and animals who eat plants. By an examination of remains of
    animals, it's possible to determine what kind of plants they eat, wild or farmed, based on the signature of the
    carbon isotope.
</p>

<p>
    Oxygen isotopes can be used to determine the source of water for the animal, and consequently, their migration patterns
    as well. This is distinctly true for aquatic animals. An analysis of oxygen isotopes on aquatic plants can help
    researchers determine who the primary producers in the area were.
</p>

<p>
    Signature of strontium isotopes is unique to their environments. That is, by comparing strontium isotope data
    from an animal remain with the data from an environment, it can be determined if the animal belonged to that
    environment. Obviously, this is used to determine immigration patterns as well as to show that trade relationships
    existed between two parts.
</p>

<p>
    As is evident, isotope data analysis can be a gold mine of useful information for archaeologists. This website provides
    open-access to published and verified stable isotope data from the South Asian Archaeological sites.
</p>
{% endblock %}
