{% extends "isodatabank/base.html" %}

{% block title %}Isotope Data Search{% endblock %}

{% block content %}
<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 26.9124, lng: 75.7873 },
            zoom: 5,
        });

        let markers = [];
        let infoWins = [];

        {% for l in locs %}
        infoContent = `
            <b>{{ l.location_name }}</b><br>
            <p>{{ l.description }}</p><br>
            <p>Data on: {{ l.archaeological_material_type }}</p><br>
            <p>Isotopes: {{ l.isotopes }}</p><br>
            <hr>
            <a href="{{ l.original_paper_url }}" _target="blank">
                See original paper
            </a>
            <br>
            <a href="{% url 'download' l.dataset_id %}">
                Download data (in .xlsx format)
            </a>
        `
        infoWins.push(
            new google.maps.InfoWindow({
                content: infoContent,
            })
        );

        markers.push(
            new google.maps.Marker({
                position: { lat: {{ l.latitude }}, lng: {{ l.longitude }} },
                map: map,
            })
        );

        markers[{{ forloop.counter0 }}].addListener("click", () => {
            infoWins[{{ forloop.counter0 }}].open(map, markers[{{ forloop.counter0 }}])
        });
        {% endfor %}
    }
</script>

<div class="container" id="map" style="width: 80vw; height: 75vh;"></div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGFrp4LCdWpymmFIlFJYCH27VaBASxF0Y&callback=initMap&libraries=&v=weekly"
    async>
</script>

<!-- {% if locs %}
<ul>
    {% for l in locs %}
    <li>{{ l.location_name }}</li>
    {% endfor %}
</ul>
{% else %}
<p class="lead">No results found.</p>
{% endif %} -->
{% endblock %}
