{% extends "isodatabank/base.html" %}

{% block title %}Upload Isotope Data{% endblock %}

{% block content %}
<p class="lead">Are you a researcher looking to share isotope data?</p>
<p>
    This website provides a platform for researchers to openly share published
    data on isotope values from South Asian Archaeological researches.
</p>
<p>
    To host your archaeological data on this website, please fill out
    <a href="https://zooarchisotopes.files.wordpress.com/2020/10/tilia-template-10-07-20.xlsx">
        this Excel file
    </a>
    based on Tilia. You can refer to the
    <a href="https://zooarchisotopes.files.wordpress.com/2020/10/tilia-template-readme-10-07-20.docx">
        Read Me file
    </a>
    for help. Both of these are courtesies of <a href="https://zooarchisotopes.com/">zooarchisotopes.com</a>.
</p>

<p>
    Once you have filled the template file, you can upload it using the form
    below for review.
</p>

<hr>

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Upload">
</form>
{% endblock %}
