{% extends "isodatabank/base.html" %}

{% block title %}Upload Isotope Data{% endblock %}

{% block content %}
<p class="lead">Are you a researcher looking to share isotope data?</p>
<p>
    This website provides a platform for researchers to openly share published
    data on isotope values from South Asian Archaeological researches.
</p>
<p>
    To host your archaeological data on this website, please fill out
    <a href="https://github.com/abhi-kr-2100/arch-sa-data/raw/main/isodatabank/backend-assets/ArchSA-Template.xlsx">
        this Excel file
    </a>.
</p>

<p>
    Once you have filled the template file, you can upload it using the form
    below for review.
</p>

<hr>

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Upload">
</form>
{% endblock %}
